{% extends 'libman/base.html' %}
{% load static %}
<title>{% block title %} Employer {% endblock %}</title>
{% block b_main %}

<div style class="bg-secondary">
  <marquee behavior="scroll" scrollamount="6" direction="left">
    <span id="yui_3_17_2_1_1628786511344_207">Để chủ động phòng, chống dịch COVID-19 trong trạng thái 
      <span style="color:#0c09c4;">
      <strong>“bình thường mới"</strong>
    </span>, Bộ Y tế gửi đến người dân<span style="color:#0c09c4;">
      <strong>“Thông điệp 5K: KHẨU TRANG – KHỬ KHUẨN – KHOẢNG CÁCH – KHÔNG TỤ TẬP – KHAI BÁO Y TẾ”</strong>
    </span>. Mong mọi người chấp hành nghiêm chỉnh !</span>
  </marquee>
</div>

<br>
  <div>
    <form method="GET" action="{% url 'view_employer' %}">
    </form>
  </div>

  {% if employer %}
  <table class="layout">
    <thead>
      <th>Mã nhân viên</th>
      <th>Họ</th>
      <th>Tên</th>
      <th>Địa chỉ</th>
      <th>Điện thoại</th>
      <th>Địa chỉ mail</th>
      <th>Thời gian làm</th>
    </thead>
  {% for emp in employer %}
    <tr>
      <td> {{ emp.emp_id }}</td>
      <td>{{ emp.Fname }}</td>
      <td>{{ emp.Lname }}</td>
      <td>{{ emp.address }}</td>
      <td>{{ emp.phone }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.timer }}</td>
    </tr>
  {% endfor %}
  </table>
  {% else %}
    <p> Không có nhân viên làm việc. </p>
  {% endif %}

  <div class="footer"><p>Copyright © 2022 Thư Viện Trường Đại Học Thủ Dầu Một</p></div>


{% endblock %}
